.map-sm__wrap {
  overflow: hidden;
  width: calc(100% - 80px);
  max-width: 1120px;
  margin: 0 auto 16px;
  border-radius: 10px;

  @include max(768) {
    width: 100%;
    border-radius: 0;
  }
}

.map-sm {
  position: relative;
  width: 100%;
  min-height: 320px;
  background-color: #ccc;

  @include max(768) {
    min-height: 400px;
  }
}
