//begin aside
.aside
  //begin aside__docs
  .aside__docs
    .title-32 Лікарі
    a(href="#").aside__doc.aside-doc
      .aside-doc__ava
        img(src="assets/img/ava-01.jpg" alt="picture")
      .aside-doc__name Семчишин Роксолана Олександрівна
    a(href="#").aside__doc.aside-doc
      .aside-doc__ava
        img(src="assets/img/ava-02.jpg" alt="picture")
      .aside-doc__name Семчишин Роксолана Олександрівна
    a(href="#").aside__doc.aside-doc
      .aside-doc__ava
        img(src="assets/img/ava-03.jpg" alt="picture")
      .aside-doc__name Семчишин Роксолана Олександрівна
    a(href="#").aside__doc.aside-doc
      .aside-doc__ava
        img(src="assets/img/ava-01.jpg" alt="picture")
      .aside-doc__name Семчишин Роксолана Олександрівна
  //end aside__docs

  //begin aside__price
  .aside__price.aside-price
    .aside-price__title.title-40 Ціна послуги
    .aside-price__price 25 500 <span>грн</span>
    .aside-price__ps Забір мазків оплачується додатково
    .aside-price__btn.btn Замовити

  //end aside__price
//end aside
