//begin index-top
.index-top(style="background-image: url('assets/img/bg-index-top.jpg')")
  .container
    .index-top__text
      span Ваша приватна медицина
      br
      span.index-top__text-lg у форматі <strong>SMART</strong>
    a(href="#").index-top__btn.btn Спланувати візит
//end index-top