//begin index-map
.index-map__header
  .container
    h2.title-48.title-section Як нас знайти
.index-map
  .container
    .map__banner.map-banner
      a(href="/").map-banner__logo
        img(src="assets/img/logo-map.svg" alt="Smart")
      a(href="https://goo.gl/maps/dkH8GTihW3tcR4m47" target="_blank" rel="nofollow noopener noreferrer").map-banner__adress
        +svg('marker')
        span м. Львів,<br>пр. Червоної Калини, 60<br>Avalon Up

  .map#map
//end index-map