//begin index-banner
.index-banner(style="background-image: url('assets/img/bg-index-banner-app.jpg')")
  .container
    h2.index-banner__title Записуйтесь до лікаря зручно!
    .index-banner__text Зручний пошук, швидкий запис та приємні бонуси за оплату онлайн.
    .index-banner__ps Завантажуй безкоштовно додатку Life Clinic на
    .index-banner__apps
      a(href="#").index-banner__app
        img(src="assets/img/app-store.png" alt="picture")
      a(href="#").index-banner__app
        img(src="assets/img/google-play.png" alt="picture")
//end index-banner