//begin index-wants
.index-wants
  .container
    //begin index-wants__link
    a(href="#").index-wants__link
      span.index-wants__link-top Хочу
      span.index-wants__link-middle пройти
      span.index-wants__link-bottom лікування
    //end index-wants__link

    //begin index-wants__link
    a(href="#").index-wants__link
      span.index-wants__link-top Хочу
      span.index-wants__link-middle дізнатись
      span.index-wants__link-bottom більше
    //end index-wants__link

    //begin index-wants__link
    a(href="#").index-wants__link
      span.index-wants__link-top Я
      span.index-wants__link-middle вже
      span.index-wants__link-bottom пацієнт
    //end index-wants__link
//end index-wants