//begin index-advantages
.index-advantages
  .container
    h2.title-48.title-section Переваги Smart Life
    ul.index-advantages__list
      li.index-advantages__item
        a(href="#").index-advantages__link
          .index-advantages__circle.index-advantages__circle--01
            +svg('advantages-01')
          .index-advantages__text 1. Доказовість

      li.index-advantages__item
        a(href="#").index-advantages__link
          .index-advantages__circle.index-advantages__circle--02
            +svg('advantages-02')
          .index-advantages__text 2. Технологічність

      li.index-advantages__item
        a(href="#").index-advantages__link
          .index-advantages__circle.index-advantages__circle--03
            +svg('advantages-03')
          .index-advantages__text 3. Персональний підхід
//end index-advantages