//begin index-banner
.index-banner(style="background-image: url('assets/img/bg-index-banner.jpg')")
  .container
    h2.index-banner__title Піклуємось про вашу безпеку та зручність!
    .index-banner__text Вторинна консультацію будь-якого спеціаліста онлайн зі знижкою до 40%
    a(href="#").index-banner__btn.btn Записатись на онлайн консультацію
//end index-banner