//begin index-services
.index-services
  .container
    h2.title-48.title-section Послуги
    ul.index-services__list
      li.index-services__item
        a(href="#").index-services__link
          .index-services__icon
            +svg('services-baby')
          .index-services__text Дітям
      li.index-services__item
        a(href="#").index-services__link
          .index-services__icon
            +svg('services-woman')
          .index-services__text Жінкам
      li.index-services__item
        a(href="#").index-services__link
          .index-services__icon
            +svg('services-man')
          .index-services__text Чоловікам
      li.index-services__item
        a(href="#").index-services__link
          .index-services__icon
            +svg('services-family')
          .index-services__text Родині
      li.index-services__item
        a(href="#").index-services__link
          .index-services__icon
            +svg('services-businnes')
          .index-services__text Бізнесу
      li.index-services__item
        a(href="#").index-services__link
          .index-services__icon
            +svg('services-covid')
          .index-services__text Covid 19
      li.index-services__item
        a(href="#").index-services__link
          .index-services__icon
            +svg('services-diagnostic')
          .index-services__text Діагностика
      li.index-services__item
        a(href="#").index-services__link
          .index-services__icon
            +svg('services-profilactic')
          .index-services__text Профілактика
      li.index-services__item
        a(href="#").index-services__link
          .index-services__icon
            +svg('services-treatment')
          .index-services__text Лікування
//end index-services