//begin subheader
#subheader.subheader
  .container
    nav.subheader__nav
      ul.subheader__list
        li.subheader__item
          a(href="#").subheader__link Дітям
        li.subheader__item
          a(href="#").subheader__link Жінкам
        li.subheader__item
          a(href="#").subheader__link Чоловікам
        li.subheader__item
          a(href="#").subheader__link Родині
        li.subheader__item
          a(href="#").subheader__link Бізнесу
        li.subheader__item
          a(href="#").subheader__link Covid 19
        li.subheader__item
          a(href="#").subheader__link Профілактика
        li.subheader__item
          a(href="#").subheader__link.active Діагностика
        li.subheader__item
          a(href="#").subheader__link Лікування
//end subheader