// ===== main colors =====
$brand: #1d1d1b;
$hover: #0b629b;

// ===== text colors =====
$text: #1d1d1b;

// ===== link colors =====

// ===== transition =====
$transition: .3s ease-in-out;

// ===== fonts =====
$font: 'Montserrat', sans-serif;