extends ../_template

block variables
  - var title = 'SMART Life'

block content
  .main-wrap.no-js
    include ../sections/header
    include ../sections/subheader

    //begin content
    main.main.index
      include ../sections/index-top
      include ../sections/index-wants
      include ../sections/index-actual
      include ../sections/index-banner
      include ../sections/index-services
      include ../sections/index-banner-app
      include ../sections/index-sale
      include ../sections/index-advantages
      include ../sections/index-map
    //end content

    include ../sections/footer
    include ../sections/scripts
    script.
      function initMap() {
        let windowWidth = document.documentElement.clientWidth;
        let myLatLng;
        let markerLatLng = {lat: 49.7946105662072, lng: 24.05389071216973};

        if (windowWidth > 640) {
          myLatLng = {lat: 49.7946105662072, lng: 24.05389071216973};
        } else {
          myLatLng = {lat: 49.7959, lng: 24.05389071216973};
        }

        let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: myLatLng,
          styles: []
        });
        let marker = new google.maps.Marker({
          position: markerLatLng,
          map: map,
          title: 'SMART Life',
          icon: 'assets/img/marker.svg'
        });
      }
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdGbaaf94NCuCkoH98Ry12HA59U0eTqIA&callback=initMap")

