extends ../_template

block variables
  - var title = 'SMART Life'

block content
  .main-wrap.no-js
    include ../sections/header
    include ../sections/subheader

    //begin content
    main.main
      .page-header
        .container
          h2.title-48.page-header__title Пошук

      .container
        //begin search
        .search
          //begin search__form.search-form
          form.search__form.search-form
            input.search-form__input(type='search' placeholder='Пошуковий текст')
            button.search-form__btn
              +svg('search')
          //end search__form.search-form

          //begin search__result
          .search__result.search-result
            .search-result__text Кількість результатів пошуку:
            .search-result__numb 13
          //end search__result
        //end search

    //end content

    include ../sections/footer
    include ../sections/scripts