extends ../_template

block variables
  - var title = 'SMART Life'

block content
  .main-wrap.no-js
    include ../sections/header
    include ../sections/subheader

    //begin content
    main.main
      .services
        .container
          ul.services__list
            //begin services__item
            li.services__item
              a(href="#").services__link
                .services__icon
                  svg(xmlns='http://www.w3.org/2000/svg' width='36.475' height='65.996' viewBox='0 0 36.475 65.996')
                    g#Group_1391(data-name='Group 1391' transform='translate(-3797.953 -2502.379)')
                      g#Group_1388(data-name='Group 1388' transform='translate(3798.953 2503.379)')
                        path#Path_957(data-name='Path 957' d='M3813.1,2541.28c6.522-4.761,14.667-8.433,20.324-10.669v-12.354c0-8.218-7.718-14.878-17.24-14.878s-17.235,6.66-17.235,14.878v25.823a26.121,26.121,0,0,0,2.444,9.861A44.972,44.972,0,0,1,3813.1,2541.28Z' transform='translate(-3798.953 -2503.379)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        path#Path_958(data-name='Path 958' d='M3813.353,2544.048a44.963,44.963,0,0,0-11.707,12.66c3.01,6.842,8.5,13.434,14.792,13.434,9.521,0,17.239-15.078,17.239-23.3v-13.469C3828.019,2535.614,3819.875,2539.286,3813.353,2544.048Z' transform='translate(-3799.201 -2506.146)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                      g#Group_1389(data-name='Group 1389' transform='translate(3810.293 2517.664)')
                        path#Path_959(data-name='Path 959' d='M3824.382,2519.4a.281.281,0,0,1-.562,0,.281.281,0,1,1,.563,0Z' transform='translate(-3812.587 -2519.116)' fill='rgba(0,0,0,0)'  stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
                        path#Path_960(data-name='Path 960' d='M3812.009,2519.4a.281.281,0,1,1-.283-.283A.281.281,0,0,1,3812.009,2519.4Z' transform='translate(-3811.446 -2519.116)' fill='rgba(0,0,0,0)'  stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
                      g#Group_1390(data-name='Group 1390' transform='translate(3812.159 2521.899)')
                        path#Path_961(data-name='Path 961' d='M3817.24,2528.863a.441.441,0,0,1-.877,0,.953.953,0,1,0,.877,0Z' transform='translate(-3812.771 -2525.2)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        path#Path_962(data-name='Path 962' d='M3817.411,2527.774a.444.444,0,0,0-.443.445.326.326,0,0,0,0,.051.441.441,0,0,0,.877,0,.361.361,0,0,0,.005-.051A.443.443,0,0,0,3817.411,2527.774Z' transform='translate(-3813.381 -2524.608)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        path#Path_963(data-name='Path 963' d='M3821.564,2529.575a4.031,4.031,0,1,1-4.032-4.031A4.033,4.033,0,0,1,3821.564,2529.575Z' transform='translate(-3813.501 -2525.544)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                      path#Path_964(data-name='Path 964' d='M3824.686,2510.487v2.066c0,1.006-1.246,1.419-2.769.915-.812-.267-1.9-.625-2.966-.977a2.752,2.752,0,0,1-1.734.555h-1.3a2.756,2.756,0,0,1-1.739-.555l-2.966.977c-1.523.5-2.771.091-2.771-.915v-2.062a13.551,13.551,0,1,0,16.247,0Z' transform='translate(-0.375 -0.656)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                      path#Path_965(data-name='Path 965' d='M3814.23,2509.616a1.211,1.211,0,0,1,.5-.931c-.584-.194-1.16-.383-1.7-.563-.455-.149-.893-.293-1.261-.417-1.523-.5-2.771-.09-2.771.915v3.656c0,1.006,1.248,1.419,2.771.915.813-.267,1.9-.624,2.966-.978a1.213,1.213,0,0,1-.5-.931Z' transform='translate(-0.926 -0.379)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                      path#Path_966(data-name='Path 966' d='M3823.537,2507.7l-1.259.415c-.545.179-1.121.371-1.707.565a1.219,1.219,0,0,1,.5.931v1.667a1.221,1.221,0,0,1-.5.931c1.068.354,2.154.711,2.966.978,1.523.5,2.769.091,2.769-.915v-3.656C3826.305,2507.615,3825.06,2507.2,3823.537,2507.7Z' transform='translate(-1.994 -0.379)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                      path#Path_967(data-name='Path 967' d='M3820.536,2509.681a1.221,1.221,0,0,0-.5-.931,2.76,2.76,0,0,0-1.734-.558H3817a2.766,2.766,0,0,0-1.739.558,1.215,1.215,0,0,0-.5.931v1.666a1.214,1.214,0,0,0,.5.931,2.758,2.758,0,0,0,1.739.555h1.3a2.752,2.752,0,0,0,1.734-.555,1.22,1.22,0,0,0,.5-.931Z' transform='translate(-1.459 -0.444)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')

                .services__text Дітям
            //end services__item
            //begin services__item
            li.services__item
              a(href="#").services__link
                .services__icon
                  svg(xmlns='http://www.w3.org/2000/svg' width='60.048' height='65.998' viewBox='0 0 60.048 65.998')
                    g#Group_1407(data-name='Group 1407' transform='translate(-487 -348.901)')
                      g#Group_1239(data-name='Group 1239' transform='translate(488 397.993)')
                        path#Path_773(data-name='Path 773' d='M577.644,1482.006l-6.9,11.261-7.114-11.261-21.911,8.94v2.322a4.644,4.644,0,0,0,4.644,4.644h48.761a4.644,4.644,0,0,0,4.644-4.644v-2.322Z' transform='translate(-541.724 -1482.006)' fill='rgba(0,0,0,0)'  stroke-linejoin='round' stroke-width='2')
                        path#Path_774(data-name='Path 774' d='M576.974,1487.534Z' transform='translate(-547.95 -1476.272)' fill='rgba(0,0,0,0)'  stroke-linejoin='round' stroke-width='2')
                      g#Group_1241(data-name='Group 1241' transform='translate(494.965 349.901)')
                        path#Path_777(data-name='Path 777' d='M561.937,1448.891a23.321,23.321,0,0,0-.473,4.644c0,9.618,5.718,17.414,12.771,17.414s12.771-7.8,12.771-17.414a23.325,23.325,0,0,0-.473-4.644,21.41,21.41,0,0,0-1.006-3.483' transform='translate(-552.176 -1425.527)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        path#Path_778(data-name='Path 778' d='M593.607,1482.484s.693-.724.693-14.081c0-18.211-9.875-39.915-22.058-39.915s-22.059,21.7-22.059,39.915c0,13.357.483,14.081.483,14.081' transform='translate(-550.184 -1428.488)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        line#Line_2(data-name='Line 2' y2='5.805' transform='translate(29.024 43.101)' fill='none'  stroke-linejoin='round' stroke-width='2')
                        line#Line_3(data-name='Line 3' y2='5.805' transform='translate(15.093 43.101)' fill='none'  stroke-linejoin='round' stroke-width='2')

                .services__text Жінкам
            //end services__item
            //begin services__item
            li.services__item
              a(href="#").services__link
                .services__icon
                  svg(xmlns='http://www.w3.org/2000/svg' width='66.003' height='64.092' viewBox='0 0 66.003 64.092')
                    g#Group_1414(data-name='Group 1414' transform='translate(-871.999 -354.194)')
                      g#Group_1239(data-name='Group 1239' transform='translate(873 399.749)')
                        path#Path_773(data-name='Path 773' d='M581.329,1482.006l-7.6,12.417-7.844-12.417-24.158,9.857v2.56a5.12,5.12,0,0,0,5.12,5.12h53.762a5.12,5.12,0,0,0,5.12-5.12v-2.56Z' transform='translate(-541.724 -1482.006)' fill='rgba(0,0,0,0)'  stroke-linejoin='round' stroke-width='2')
                        path#Path_774(data-name='Path 774' d='M576.974,1487.534Z' transform='translate(-544.972 -1475.117)' fill='rgba(0,0,0,0)'  stroke-linejoin='round' stroke-width='2')
                      g#Group_1241(data-name='Group 1241' transform='translate(890.92 355.194)')
                        path#Path_777(data-name='Path 777' d='M561.986,1449.007a22.642,22.642,0,0,0-.522,4.8c0,9.94,6.3,18,14.081,18s14.081-8.057,14.081-18a22.639,22.639,0,0,0-.522-4.8,21.065,21.065,0,0,0-1.109-3.6' transform='translate(-561.464 -1430.191)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        path#Path_778(data-name='Path 778' d='M552.331,1442.973s3.184-6.446,5.772-5.393c1.821.741,4.111,1.588,7.1,2.6,3.193,1.08,7.343,2.329,11.224,3.275,3.362.823,4.148.591,4.148-.872a14.5,14.5,0,0,0-14.8-14.092c-9.264,0-13.445,7.876-13.445,14.485a23.177,23.177,0,0,1-.178,4.708' transform='translate(-551.695 -1428.488)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        line#Line_2(data-name='Line 2' y2='6.4' transform='translate(21.761 39.051)' fill='none'  stroke-linejoin='round' stroke-width='2')
                        line#Line_3(data-name='Line 3' y2='6.4' transform='translate(6.4 39.051)' fill='none'  stroke-linejoin='round' stroke-width='2')

                .services__text Чоловікам
            //end services__item
            //begin services__item
            li.services__item
              a(href="#").services__link
                .services__icon
                  svg(xmlns='http://www.w3.org/2000/svg' width='66.002' height='60.767' viewBox='0 0 66.002 60.767')
                    g#Group_1386(data-name='Group 1386' transform='translate(-95 -2094.266)')
                      g#Group_1382(data-name='Group 1382' transform='translate(96 2095.266)')
                        path#Path_951(data-name='Path 951' d='M2735.56,1912.815c-3.9,0-5.194,3.641-5.194,5.335a5.193,5.193,0,0,0,10.387,0C2740.753,1916.455,2739.461,1912.815,2735.56,1912.815Z' transform='translate(-2724.134 -1912.815)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        path#Path_945(data-name='Path 945' d='M2723.073,1957.954a2.077,2.077,0,0,0,2.077,2.078' transform='translate(-2723.073 -1919.383)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        path#Path_947(data-name='Path 947' d='M2729.151,1936.075v36.352a2.077,2.077,0,0,0,2.077,2.077h0a2.078,2.078,0,0,0,2.077-2.077v-18.7h4.155v18.7a2.077,2.077,0,0,0,2.076,2.077h0a2.078,2.078,0,0,0,2.079-2.077v-36.352' transform='translate(-2723.957 -1916.199)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        path#Path_948(data-name='Path 948' d='M2723.073,1953.709v-19.3a5.625,5.625,0,0,1,5.626-5.625h11.6a5.625,5.625,0,0,1,5.626,5.625v2.753' transform='translate(-2723.073 -1915.139)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                      g#Group_1383(data-name='Group 1383' transform='translate(131.06 2095.266)')
                        path#Path_940(data-name='Path 940' d='M2849.156,1960.385v15.58a2.077,2.077,0,0,0,2.077,2.077h0a2.077,2.077,0,0,0,2.079-2.077v-15.58h4.153v15.58a2.077,2.077,0,0,0,2.078,2.077h0a2.077,2.077,0,0,0,2.078-2.077v-15.58' transform='translate(-2843.063 -1919.738)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        path#Path_941(data-name='Path 941' d='M2867.649,1954.748a2.078,2.078,0,0,0,2.078-2.077l-5.193-18.264c-1.039-3.548-2.519-5.625-5.626-5.625h-11.6c-3.107,0-4.587,2.077-5.626,5.625l-.9,3.176' transform='translate(-2840.785 -1915.139)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        path#Path_942(data-name='Path 942' d='M2847.281,1934.859l-1.038,8.309v13.5H2863.9l-5.193-13.5-1.038-8.309' transform='translate(-2840.15 -1916.023)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        path#Path_949(data-name='Path 949' d='M2735.56,1912.815c-3.9,0-5.194,3.641-5.194,5.335a5.193,5.193,0,0,0,10.387,0C2740.753,1916.455,2739.461,1912.815,2735.56,1912.815Z' transform='translate(-2722.385 -1912.815)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                      g#Group_1384(data-name='Group 1384' transform='translate(117.471 2118.386)')
                        path#Path_952(data-name='Path 952' d='M2733.915,1912.815a3.632,3.632,0,0,0-3.548,3.646,3.549,3.549,0,0,0,7.1,0A3.632,3.632,0,0,0,2733.915,1912.815Z' transform='translate(-2726.108 -1912.815)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        path#Path_953(data-name='Path 953' d='M2723.073,1957.954a1.419,1.419,0,0,0,1.42,1.419' transform='translate(-2723.073 -1935.897)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        path#Path_954(data-name='Path 954' d='M2747.385,1959.373a1.419,1.419,0,0,0,1.419-1.419' transform='translate(-2733.189 -1935.897)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        path#Path_955(data-name='Path 955' d='M2729.151,1936.075v17.693c0,.558,1.171,2.13,2.3,0s.911-9.021,1.955-8.519,1.272,6.389,2.272,8.519,1.989.558,1.989,0v-17.693' transform='translate(-2725.602 -1919.238)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        path#Path_956(data-name='Path 956' d='M2723.073,1941.48v-9.832c0-1.582,1.722-2.866,3.845-2.866h7.926c2.122,0,3.844,1.283,3.844,2.866v9.832' transform='translate(-2723.073 -1919.422)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')

                .services__text Родині
            //end services__item
            //begin services__item
            li.services__item
              a(href="#").services__link
                .services__icon
                  svg(xmlns='http://www.w3.org/2000/svg' width='66.83' height='58.02' viewBox='0 0 66.83 58.02')
                    g#Group_1412(data-name='Group 1412' transform='translate(-486.585 -468.06)')
                      g#Group_1255(data-name='Group 1255' transform='translate(488 469.475)')
                        g#Group_1253(data-name='Group 1253' transform='translate(0 0.781)')
                          g#Group_1251(data-name='Group 1251' transform='translate(0 0)')
                            rect#Rectangle_2082(data-name='Rectangle 2082' width='24.284' height='8.831' transform='translate(23.415 6.244) rotate(135)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                          g#Group_1252(data-name='Group 1252' transform='translate(7.49 8.584)')
                            path#Path_799(data-name='Path 799' d='M795.129,871.575a9.592,9.592,0,0,1-2.378-4.215l-1.572-5.136c-.5-1.65-.624-2.31-1.828-3.515' transform='translate(-789.35 -845.036)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                            path#Path_800(data-name='Path 800' d='M813.992,880.833l6.043,6.05a3.311,3.311,0,0,1,0,4.683c-1.294,1.294-2.609,1.795-3.9.5' transform='translate(-791.621 -847.075)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                            path#Path_801(data-name='Path 801' d='M804.252,843.648s6.8.732,8.641.782' transform='translate(-790.724 -843.648)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                            path#Path_802(data-name='Path 802' d='M830.6,877.484l2.059,2.342a3.311,3.311,0,1,1-4.683,4.683L815.49,872.021' transform='translate(-791.759 -846.263)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                            path#Path_803(data-name='Path 803' d='M827.674,884.917a3.312,3.312,0,0,1-4.683,4.684l-2.341-2.341' transform='translate(-792.235 -847.452)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        rect#Rectangle_2083(data-name='Rectangle 2083' width='25.388' height='8.831' transform='translate(46.05 0) rotate(45)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        path#Path_804(data-name='Path 804' d='M836.6,871.651a6.624,6.624,0,0,0,1.947-3.505l1.572-5.135a9.626,9.626,0,0,1,2.355-4.237' transform='translate(-786.216 -835.677)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        g#Group_1254(data-name='Group 1254' transform='translate(12.299 34.153)')
                          path#Path_805(data-name='Path 805' d='M801.081,876.606a3.311,3.311,0,0,0-4.683-4.683l-.781.781a3.311,3.311,0,0,0,4.682,4.682l.781-.78' transform='translate(-794.647 -870.953)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                          path#Path_806(data-name='Path 806' d='M811.092,888.258a3.312,3.312,0,1,1,0,4.683,3.313,3.313,0,0,1,0-4.683' transform='translate(-796.074 -872.458)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                          path#Path_807(data-name='Path 807' d='M808.276,880.52a3.311,3.311,0,0,1,4.683,4.683l-2.342,2.341a3.311,3.311,0,0,1-4.682-4.683' transform='translate(-795.598 -871.745)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                          path#Path_808(data-name='Path 808' d='M808.581,879.185A3.312,3.312,0,0,0,803.9,874.5l-3.122,3.122a3.312,3.312,0,0,0,4.684,4.684l3.122-3.122' transform='translate(-795.123 -871.191)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        path#Path_809(data-name='Path 809' d='M825.68,842.785s-4.731-.082-7.805,0c-3.043.082-3.884.764-4.683,1.562l-7.717,7.717a3.394,3.394,0,0,0-.524,4.239,3.316,3.316,0,0,0,5.119.533l6.244-6.244,2.341-.781v4.683l15.522,15.522a3.392,3.392,0,0,1,.524,4.238,3.314,3.314,0,0,1-5.118.532L818.656,863.86' transform='translate(-783.25 -834.2)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        path#Path_810(data-name='Path 810' d='M829.366,853.937c.732,1.337-.193,3.251-2.064,4.276a4.135,4.135,0,0,1-4.934-.629' transform='translate(-784.904 -835.231)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                      line#Line_4(data-name='Line 4' y1='2.043' x2='2.043' transform='translate(493.446 485.704)' fill='none'  stroke-miterlimit='10' stroke-width='2')
                      line#Line_5(data-name='Line 5' x2='2.043' y2='2.043' transform='translate(544.512 485.704)' fill='none'  stroke-miterlimit='10' stroke-width='2')

                .services__text Бізнесу
            //end services__item
            //begin services__item
            li.services__item
              a(href="#").services__link
                .services__icon
                  svg(xmlns='http://www.w3.org/2000/svg' width='66.002' height='66.002' viewBox='0 0 66.002 66.002')
                    g#Group_1416(data-name='Group 1416' transform='translate(-871.996 -466)')
                      path#Path_828(data-name='Path 828' d='M364.364,1701.02c0-16-14.327-32-32-32a32,32,0,0,0-32,32c0,17.673,16,32,32,32S364.364,1717.02,364.364,1701.02Z' transform='translate(572.635 -1202.018)' fill='rgba(0,0,0,0)'  stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
                      g#Group_1272(data-name='Group 1272' transform='translate(899.802 473.959)')
                        path#Path_829(data-name='Path 829' d='M336.61,1722.941a2.782,2.782,0,1,1-2.782-2.782A2.782,2.782,0,0,1,336.61,1722.941Z' transform='translate(-328.632 -1678.418)' fill='rgba(0,0,0,0)'  stroke-linecap='round' stroke-miterlimit='10' stroke-width='2')
                        path#Path_830(data-name='Path 830' d='M333.707,1712.5h0a1.5,1.5,0,0,1-1.542-1.24l-3.641-29.957c-.207-2.692,2.173-4.979,5.183-4.979h0c3.01,0,5.39,2.287,5.182,4.979l-3.64,29.957A1.5,1.5,0,0,1,333.707,1712.5Z' transform='translate(-328.511 -1676.324)' fill='rgba(0,0,0,0)'  stroke-linecap='round' stroke-miterlimit='10' stroke-width='2')

                .services__text Covid 19
            //end services__item
            //begin services__item
            li.services__item
              a(href="#").services__link
                .services__icon
                  svg(xmlns='http://www.w3.org/2000/svg' width='60.942' height='66.348' viewBox='0 0 60.942 66.348')
                    g#Group_1258(data-name='Group 1258' transform='translate(-1622.935 -2145.844)')
                      path#Path_811(data-name='Path 811' d='M1682.877,2216.965h-58.942a7.114,7.114,0,0,1,7.114-7.114h44.715a7.113,7.113,0,0,1,7.113,7.114Z' transform='translate(0.001 -5.774)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                      g#Group_1257(data-name='Group 1257' transform='translate(1641.203 2147.187)')
                        rect#Rectangle_2084(data-name='Rectangle 2084' width='8.13' height='20.325' transform='translate(12.791 9.075) rotate(26.744)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        rect#Rectangle_2085(data-name='Rectangle 2085' width='12.195' height='4.065' transform='translate(1.829 26.311) rotate(26.745)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        rect#Rectangle_2086(data-name='Rectangle 2086' width='4.065' height='6.097' transform='matrix(0.893, 0.45, -0.45, 0.893, 17.35, 4.545)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        rect#Rectangle_2087(data-name='Rectangle 2087' width='8.13' height='4.065' transform='translate(17.364 0) rotate(26.744)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                      path#Path_812(data-name='Path 812' d='M1663.8,2193.06a15.243,15.243,0,0,0-15.243,15.244h30.487A15.243,15.243,0,0,0,1663.8,2193.06Z' transform='translate(-2.269 -4.226)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                      path#Path_813(data-name='Path 813' d='M1658.61,2173.093c.342-.033.689-.052,1.04-.052a10.158,10.158,0,0,1,7.1,17.426,15.187,15.187,0,0,1,9.217,4.818,20.3,20.3,0,0,0-12.206-31.99' transform='translate(-3.194 -1.484)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                      path#Path_814(data-name='Path 814' d='M1654.334,2195.3H1634.01v6.1h14.977a15.3,15.3,0,0,1,5.124-5.63C1653.72,2195.634,1654.7,2195.477,1654.334,2195.3Z' transform='translate(-0.928 -4.432)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                      path#Path_815(data-name='Path 815' d='M1667.178,2199.57a2.032,2.032,0,1,1-2.032-2.032A2.033,2.033,0,0,1,1667.178,2199.57Z' transform='translate(-3.61 -4.639)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')

                .services__text Діагностика
            //end services__item
            //begin services__item
            li.services__item
              a(href="#").services__link
                .services__icon
                  svg(xmlns='http://www.w3.org/2000/svg' width='61.118' height='65.939' viewBox='0 0 61.118 65.939')
                    g#Group_1410(data-name='Group 1410' transform='translate(-489.666 -579.411)')
                      path#Path_817(data-name='Path 817' d='M4675.184,2038.716c-23.47,8.94-34.108,33.644-26.183,55.061' transform='translate(-4135.569 -1448.774)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                      path#Path_818(data-name='Path 818' d='M4661.539,2034.456c-5.588,3.353-7.823,11.175-2.547,15.6,3.832,3.212,10.551,3.7,18.193-1.071,8.94-5.587,7.823-20.115,7.823-20.115a34.242,34.242,0,0,1-11.175,3.352C4669.669,2032.6,4665.825,2031.884,4661.539,2034.456Z' transform='translate(-4136.454 -1447.867)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                      path#Path_819(data-name='Path 819' d='M4661.636,2063.156c-6.429,1.057-11.393,7.5-8.121,13.56,2.376,4.4,8.443,7.335,17.305,5.714,10.371-1.9,14.689-15.812,14.689-15.812a34.219,34.219,0,0,1-11.623-1.005C4669.878,2064.428,4666.567,2062.348,4661.636,2063.156Z' transform='translate(-4136.13 -1451.012)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                      path#Path_820(data-name='Path 820' d='M4645.1,2055.691c.478,6.5-3.25,11.58-11.073,10.462-5.64-.806-9.317-5.89-9.813-14.886-.581-10.527,11.94-17.98,11.94-17.98a34.248,34.248,0,0,0,3.695,11.066C4641.935,2047.975,4644.73,2050.707,4645.1,2055.691Z' transform='translate(-4133.522 -1448.275)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                      path#Path_821(data-name='Path 821' d='M4633.776,2046.1a22.67,22.67,0,0,0,1.117,10.058c2.235,5.587,7.823,10.058,7.823,10.058' transform='translate(-4134.391 -1449.455)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                      path#Path_822(data-name='Path 822' d='M4652.254,2070.722s8.941,4.47,13.411,4.47a24.9,24.9,0,0,0,10.058-2.235' transform='translate(-4136.108 -1451.726)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')

                .services__text Профілактика
            //end services__item
            //begin services__item
            li.services__item
              a(href="#").services__link
                .services__icon
                  svg(xmlns='http://www.w3.org/2000/svg' width='66.024' height='63.893' viewBox='0 0 66.024 63.893')
                    g#Group_1418(data-name='Group 1418' transform='translate(-873.997 -578.832)')
                      g#Group_1347(data-name='Group 1347' transform='translate(874.997 579.832)')
                        path#Path_928(data-name='Path 928' d='M923.8,2286.135l-.842-2.527H903.268l-.843,2.527a9.451,9.451,0,0,1-1.707,3.065h0a10.242,10.242,0,0,0-2.374,6.557v35.678h29.54v-35.678a10.242,10.242,0,0,0-2.374-6.557h0A9.452,9.452,0,0,1,923.8,2286.135Z' transform='translate(-898.344 -2269.542)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        rect#Rectangle_2179(data-name='Rectangle 2179' width='29.54' height='14.066' rx='1.5' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        g#Group_1346(data-name='Group 1346' transform='translate(4.22 2.11)')
                          line#Line_28(data-name='Line 28' y2='9.847' fill='none'  stroke-miterlimit='10' stroke-width='2')
                          line#Line_29(data-name='Line 29' y2='9.847' transform='translate(4.22)' fill='none'  stroke-miterlimit='10' stroke-width='2')
                          line#Line_30(data-name='Line 30' y2='9.847' transform='translate(8.44)' fill='none'  stroke-miterlimit='10' stroke-width='2')
                          line#Line_31(data-name='Line 31' y2='9.847' transform='translate(12.66)' fill='none'  stroke-miterlimit='10' stroke-width='2')
                          line#Line_32(data-name='Line 32' y2='9.847' transform='translate(16.88)' fill='none'  stroke-miterlimit='10' stroke-width='2')
                          line#Line_33(data-name='Line 33' y2='9.847' transform='translate(21.1)' fill='none'  stroke-miterlimit='10' stroke-width='2')
                        rect#Rectangle_2180(data-name='Rectangle 2180' width='21.1' height='23.913' transform='translate(8.44 28.836)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                        line#Line_34(data-name='Line 34' x2='16.88' transform='translate(10.55 33.056)' fill='none'  stroke-miterlimit='10' stroke-width='2')
                        line#Line_35(data-name='Line 35' x2='16.88' transform='translate(10.55 38.683)' fill='none'  stroke-miterlimit='10' stroke-width='2')
                        line#Line_36(data-name='Line 36' x2='7.033' transform='translate(10.55 44.309)' fill='none'  stroke-miterlimit='10' stroke-width='2')
                      g#Group_1350(data-name='Group 1350' transform='translate(909.151 605.856)')
                        g#Group_1348(data-name='Group 1348' transform='translate(0 18.15)')
                          path#Path_929(data-name='Path 929' d='M952.013,2331.8c-8.141,2.566-15.78,1.348-17.064-2.723s4.276-9.45,12.416-12.016,15.781-1.349,17.064,2.721S960.154,2329.23,952.013,2331.8Z' transform='translate(-934.766 -2315.713)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                          line#Line_37(data-name='Line 37' x1='3.591' y1='11.39' transform='translate(12.6 1.344)' fill='none'  stroke-miterlimit='10' stroke-width='2')
                        g#Group_1349(data-name='Group 1349' transform='translate(3.713)')
                          path#Path_930(data-name='Path 930' d='M938.74,2317.613c-.206-3.539,1.684-8.489,5.289-13.031,5.306-6.686,12.318-9.955,15.661-7.3,3.034,2.408,2,8.866-2.18,15.038' transform='translate(-938.725 -2296.358)' fill='rgba(0,0,0,0)'  stroke-miterlimit='10' stroke-width='2')
                          line#Line_38(data-name='Line 38' x1='9.354' y1='7.424' transform='translate(5.304 8.223)' fill='none'  stroke-miterlimit='10' stroke-width='2')

                .services__text Лікування
            //end services__item
    //end content

    include ../sections/footer
    include ../sections/scripts