.contacts-body {
  padding: 24px 0 48px 0;

  @include max(680) {
    padding: 16px 0;
  }

  .container {
    display: flex;
  }
}

.contacts-body__left {
  @include max(680) {
    display: none;
  }
}

.contacts-body__logo {
  display: block;
  width: 257px;
  margin-right: 128px;

  @include max(1023) {
    width: 200px;
    margin-right: 64px;
  }

  img {
    display: block;
    width: 100%;
  }
}

.contacts-body__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts-body__link {
  display: flex;
  margin-bottom: 44px;
  text-decoration: none;

  @include max(680) {
    margin-bottom: 24px;
  }
}


.contacts-body__link-icon {
  display: flex;
  justify-content: center;
  flex: none;
  width: 24px;
  margin-right: 16px;

  svg {
    fill: #1d1d1b;
    width: 24px;
    max-height: 34px;
    transition: fill .5s;
  }
}

.contacts-body__link-icon--map,
.contacts-body__link-icon--phone {
  svg {
    width: 16px;
  }
}

.contacts-body__link-text {
  display: flex;
  flex-direction: column;
}

.contacts-body__link-text-sm {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  display: block;
  margin-bottom: 3px;
  padding-top: 5px;
  color: #1d1d1b;
}

.contacts-body__link-text-lg {
  font-weight: 300;
  line-height: 1.33;
  display: block;
  transition: color .5s;
  text-decoration: none;
  color: #1d1d1b;

  @include responsive-font(24, 16);
}


.contacts-body__socials {
  display: flex;

  @include max(768) {
    flex-direction: column;
  }
}

.contacts-body__social-link {
  display: flex;
  margin-right: 48px;
  text-decoration: none;

  @include max(768) {
    margin-right: 0;
    margin-bottom: 16px;
  }

  &:hover {
    svg {
      fill: $hover;
    }

    .contacts-body__socials-text {
      color: $hover;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.contacts-body__socials-icon {
  flex: none;
  margin-right: 16px;

  svg {
    fill: #1d1d1b;
    width: 24px;
    height: 24px;
    transition: fill .5s;
  }
}

.contacts-body__socials-text {
  font-weight: 300;
  line-height: 1;
  transition: color .5s;
  color: #1d1d1b;

  @include responsive-font(24, 16);
}
